body {
        font-family: "Nunito";
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 6px;
    --theme: rgb(250, 250, 250);
    --entry: rgb(250, 250, 250);
    --primary: rgb(31, 31, 31);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(240, 15, 145);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(236, 236, 236);
    --border: rgb(234, 234, 234);
}

.dark {
    --theme: rgb(29, 29, 29);
    --entry: rgb(46, 46, 46);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(155, 155, 155);
    --tertiary: rgba(240, 15, 145, 0.8);
    --content: rgb(220, 220, 220);
    --code-block-bg: rgb(46, 46, 46);
    --code-bg: rgb(60, 60, 60);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

.logo a {
    font-size: 1.8em;
}

.logo-switches a {
    font-size: 1.2em;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
	min-width: 250px;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 8px;
	width: 80%;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(0.98);
	filter: brightness(0.9);
}

.button-inner {
    padding: 0 4px;
}

.button:active {
    transform: scale(0.96);
}